.col{background-color: aqua;border: 2px solid rgb(211, 202, 202);}
.navbar-brand{color: rgb(0, 0, 0);font-size: 20PX;}
.container-fluid{background-color: rgb(218, 212, 212);}
.bsb-hero-1 {background-color: rgb(181, 168, 168);}
